$color-primary: #FFA42E;
$color-primary-darker: #E88300;
$color-primary-lighter: #FFAE45;

$color-secondary: #F5F5F5;
$color-secondary-darker: #BFBFBF;
$color-secondary-lighter: #E9E9E9;

$color-light: #ffffff;

$color-dark: #414141;
$color-dark-lighter: #6B6B6B;
